# Dependencies
node_modules/
package-lock.json

# Build output
dist/
dist-ssr/
*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Env (do not commit secrets)
.env
.env.local
.env.*.local

# Netlify
.netlify
